@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Black Ops One', cursive;
}